.tab-pane {
    -fx-background-color: null;
}

.tab-header-area {
    -fx-background-color: null;
}

.tab {
    -fx-background-color: null;
}

.tab:selected {
    -fx-background-color: null;
    -fx-border-color: null;
}
